In [37]:
# https://pypi.org/project/efficient-apriori/
!pip install -q efficient_apriori

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from itertools import combinations
import efficient_apriori
from efficient_apriori import apriori

In [3]:
# Vers√µes dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

matplotlib       : 3.5.1
efficient_apriori: 2.0.1
numpy            : 1.21.5
pandas           : 1.2.4

In [4]:
# Carrega os dados

pdvitem = pd.read_csv('dados/pdvitem.csv')

In [6]:
pdvitem.shape

(474530, 9)

In [7]:
pdvitem.head()

,pdvcodigo,empcodigo,procodigo,venqtde,venvlrunit,venvlrtotal,venvlrreal,venvlrnota,vendatainclusao
0,33680299,3,39392,1.0,19.9,19.9,19.9,19.9,2021-07-01
1,33680312,3,16180,1.0,27.9,27.9,27.9,27.9,2021-07-01
2,33680316,3,27799,1.0,26.9,26.9,26.9,26.9,2021-07-01
3,33680301,3,12417,1.0,21.9,21.9,21.9,21.9,2021-07-01
4,33680404,3,42488,1.0,21.9,21.9,21.9,21.9,2021-07-01

In [78]:
## Limpeza dos Dados

In [79]:
# verificando valores ausentes

In [8]:
pdvitem.isna().sum()

pdvcodigo          0
empcodigo          0
procodigo          0
venqtde            0
venvlrunit         0
venvlrtotal        0
venvlrreal         0
venvlrnota         0
vendatainclusao    0
dtype: int64

In [9]:
%%time
agrupando = pd.DataFrame(pdvitem.groupby('pdvcodigo')['procodigo'])

CPU times: total: 9.81 s
Wall time: 9.82 s

In [10]:
agrupando.shape

(211185, 2)

In [11]:
agrupando.head()

        0                                                  1
0  775983  48622    40787
48623     5402
Name: procodigo,...
1  775984  43    41863
44    37424
46    40181
47    4018...
2  775985          48    40494
Name: procodigo, dtype: int64
3  775986           52    2720
Name: procodigo, dtype: int64
4  775987  48889    21355
48890     2235
48891     2496
4...

In [12]:
prod = []

In [13]:
%%time
for i in range(len(agrupando[0])):
    prod.append(list(agrupando.iloc[i][1]))

CPU times: total: 24.8 s
Wall time: 24.8 s

In [14]:
prod_ = prod

In [15]:
order_ = agrupando[0]

In [16]:
# Prepara o dataframe
transactions = pd.DataFrame({'PDVcodigo' : order_, 'Procodigo' : prod_})

In [17]:
transactions.head(100000)

       PDVcodigo                                          Procodigo
0         775983                                      [40787, 5402]
1         775984                       [41863, 37424, 40181, 40181]
2         775985                                            [40494]
3         775986                                             [2720]
4         775987  [21355, 2235, 2496, 890, 961, 1589, 40451, 415...
...          ...                                                ...
99995   21486727                                             [6470]
99996   21486728                                             [3294]
99997   21486729           [30241, 23169, 4826, 3115, 34100, 32969]
99998   21486730  [26514, 31526, 29140, 32714, 30972, 29059, 290...
99999   21486731                                        [3979, 467]

[100000 rows x 2 columns]

In [18]:
# Prepara a tupla com as transa√ß√µes
movimento_tup = [tuple(row) for row in transactions['Procodigo'].tolist()]

In [19]:
st = datetime.now()
itemsets_ap, rules_ap = apriori(movimento_tup[:100000], min_support = 0.01, min_confidence = 0.1)
print('Tempo de Execu√ß√£o : ', datetime.now() - st)

Tempo de Execu√ß√£o :  0:00:00.108845

In [20]:
rules_ap

[]